/**
 * School view page
 *
 * @package    local_schoolmanager
 * @subpackage scss/schoolmanager_view
 * @copyright  2024 NED {@link http://ned.ca}
 * @author     NED {@link http://ned.ca}
 */
body#page-local-schoolmanager-view {

    .popover[role="tooltip"] {
        max-width: 450px;
    }

    #region-main {

        .school .school-page {

            .schools-section {
                overflow-x: auto;
            }
        }
    }

    .badges {
        ul.badges {
            padding: 0;
        }

        li {
            display: inline;

            .badge-image {
                width: 25px;
                height: 25px;
            }
            .badge-actions, .badge-name {
                display: none;
            }
        }
    }

    #school-list th, #school-list td {
        font-size: 13px;
        padding: 6px;

        &.border-left {
            border-left-width: 2px;
        }
    }

    #school-list th {
        background-color: #ECEEEF;

    }

    ul.list-unstyled {
        li, ul.list-unstyled {
            padding-left: 20px;
        }
    }
}


@media (max-width: 760px), (max-width: 900px) {
    #page-local-schoolmanager-view {
        .staff {
            .generaltable {
                margin-bottom: 0;
            }
            .table-wrapper {
                margin-bottom: 20px;
            }
        }

        .table-container{
            overflow-x: auto;
        }
    }
}
@media (max-width: 1000px), (max-width: 1200px) {
    #page-local-schoolmanager-view .staff {
        flex-direction: column;

        div {
            max-width: 100%;
        }
    }
}
