body.path-local-schoolmanager{
    #region-main{
        overflow: visible;
    }
    .empty{
        display: none;
    }
    .menu-links{
        padding: 15px;
        & > *:not(:last-child){
            margin-right: 10px;
        }
    }
    .school-name{
        padding: 20px;
    }
    .control-panel{
        margin-top: 20px;
    }
}
