#page-local-schoolmanager-index .empty {
  display: none;
}
body.path-local-schoolmanager #region-main {
  overflow: visible;
}
body.path-local-schoolmanager #region-main-box {
  width: 100%;
}
body.path-local-schoolmanager .menu-links {
  display: flex;
  font-size: larger;
  background-color: #ffffcc;
  padding: 10px;
  margin-bottom: 20px;
}
body.path-local-schoolmanager .menu-links > *:not(:last-child) {
  margin-right: 20px;
}
body.path-local-schoolmanager .school-name {
  padding: 20px 0;
  font-size: larger;
  font-family: cursive;
  font-weight: bold;
}
body.path-local-schoolmanager .school-manager-links {
  padding: 5px 20px;
}
body.path-local-schoolmanager .control-panel {
  margin-top: 20px;
}
