{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_schoolmanager/school_school

    school_manager_render layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
}}
<div class="row">
    <div class="col-md-8 table-wrapper">
        <div class="card mb-3">
            <div class="card-header text-align-center">
                {{#str}}schoolprofile, local_schoolmanager{{/str}}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">{{#str}}name, local_schoolmanager{{/str}}:</div>
                    <div class="col-md-8"><strong>{{name}}</strong></div>
                </div>
                <div class="row">
                    <div class="col-md-4">{{#str}}rosedalecode, local_schoolmanager{{/str}}:</div>
                    <div class="col-md-8"><strong>{{code}}</strong></div>
                </div>
                <div class="row">
                    <div class="col-md-4">{{#str}}location, local_schoolmanager{{/str}}:</div>
                    <div class="col-md-8"><strong>{{city}}, {{country}}</strong></div>
                </div>
                <div class="row">
                    <div class="col-md-4">{{#str}}timezone, local_schoolmanager{{/str}}:</div>
                    <div class="col-md-8"><strong>{{timezone}} ({{localtime}})</strong>{{#synctimezone}} <i class="fa fa-users" aria-hidden="true"></i>{{/synctimezone}}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">{{#str}}schoolwebsite, local_schoolmanager{{/str}}:</div>
                    <div class="col-md-8"><strong>
                        <a href="{{schoolwebsite}}" target="_blank">{{schoolwebsite}}</a>
                        </strong></div>
                </div>
                <div class="row">
                    <div class="col-md-4">{{#str}}schoolyear, local_schoolmanager{{/str}}:</div>
                    <div class="col-md-8"><strong>{{schoolyear}}</strong></div>
                </div>
            </div>
        </div>
        {{#viewpscompliancereport}}
            <div class="card">
                <div class="card-header text-align-center">
                    {{#str}}compliancereport, local_schoolmanager{{/str}}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-success">Academic Integrity</h3>
                            <ul class="list-unstyled mb-3">
                                <li><a href="{{aivurl}}">Academic Integrity Violations</a></li>
                                <ul class="list-unstyled mb-3">
                                    <li>
                                        {{#pix}} {{aivicon}}, local_schoolmanager {{/pix}}
                                        {{aivschoolyear}} Academic Integrity Violations were given to students since {{aivstartdate}}
                                    </li>
                                    <li>
                                        {{#pix}} {{majorplagiarismicon}}, local_schoolmanager {{/pix}}
                                        {{majorplagiarism}} Academic Integrity Violations were given for Major plagiarism
                                    </li>
                                    <li>
                                        {{#pix}} {{cheatingicon}}, local_schoolmanager {{/pix}}
                                        {{cheating}} Academic Integrity Violations were given for Cheating on Test or Exam
                                    </li>
                                    <li>
                                        {{#pix}} {{aiv30schoolyearicon}}, local_schoolmanager {{/pix}}
                                        {{aiv30schoolyear}} Academic Integrity Violations were given to students in last 30 days.
                                    </li>
                                </ul>

                                <li><a href="{{deadlineurl}}">Activity Deadlines</a></li>
                                <ul class="list-unstyled mb-3">
                                    <li>
                                        {{#pix}} {{missed_deadlinesicon}}, local_schoolmanager {{/pix}}
                                        {{missed_deadlines}} missed deadlines in this school year
                                    </li>
                                    <li>
                                        {{#pix}} {{deadlineextensionsicon}}, local_schoolmanager {{/pix}}
                                        {{deadlineextensions}} deadline extensions were awarded in this school year. This averages to {{deadlineextensionsaverage}} extensions per student.
                                    </li>
                                    {{#deadlineextensions20icon}}
                                        <li>
                                            {{#pix}} {{deadlineextensions20icon}}, local_schoolmanager {{/pix}}
                                            {{deadlineextensions20}} students have more than 20 deadline extensions
                                        </li>
                                    {{/deadlineextensions20icon}}
                                    <li>
                                        {{#pix}} {{deadlineextensions30icon}}, local_schoolmanager {{/pix}}
                                        {{deadlineextensions30}} missed deadlines in last 30 days
                                    </li>
                                </ul>

                                <li><a href="{{proctoringurl}}">Test Proctoring</a></li>
                                <ul class="list-unstyled mb-3">
                                    <li>
                                        {{#pix}} {{proctoringsubmittedicon}}, local_schoolmanager {{/pix}}
                                        {{proctoringsubmitted}} Proctoring reports have been submitted
                                    </li>
                                    <li>
                                        {{#pix}} {{proctoringmissingicon}}, local_schoolmanager {{/pix}}
                                        {{proctoringmissing}} Proctoring reports are currently missing
                                    </li>
                                    <li>
                                        {{#pix}} {{proctorinwriting1icon}}, local_schoolmanager {{/pix}}
                                        {{proctorinwriting1}} tests have 1 writing session
                                    </li>
                                    <li>
                                        {{#pix}} {{proctorinwriting2icon}}, local_schoolmanager {{/pix}}
                                        {{proctorinwriting2}} tests have 2 writing sessions
                                    </li>
                                    {{#proctorinwriting3icon}}
                                        <li>
                                            {{#pix}} {{proctorinwriting3icon}}, local_schoolmanager {{/pix}}
                                            {{proctorinwriting3}} tests have 3 or more writing sessions
                                        </li>
                                    {{/proctorinwriting3icon}}
                                </ul>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-success">English Proficiency  </h3>
                            <ul class="list-unstyled mb-3">
                                <li><a href="{{osslturl}}">OSSLT Scores for Current School Year</a></li>
                                <ul class="list-unstyled mb-3">
                                    <li>
                                        {{#pix}} {{wroteosslticon}}, local_schoolmanager {{/pix}}
                                        {{wroteosslt}} students wrote the OSSLT
                                    </li>
                                    <li>
                                        {{#pix}} {{notwroteosslticon}}, local_schoolmanager {{/pix}}
                                        {{notwroteosslt}} students did not write the OSSLT
                                    </li>
                                    <li>
                                        {{#pix}} {{passedosslticon}}, local_schoolmanager {{/pix}}
                                        {{passedosslt}} students Passed OSSLT
                                    </li>
                                    <li>
                                        {{#pix}} {{failedosslticon}}, local_schoolmanager {{/pix}}
                                        {{failedosslt}} students Failed OSSLT
                                    </li>
                                    {{#failedossltover75icon}}
                                        <li>
                                            {{#pix}} {{failedossltover75icon}}, local_schoolmanager {{/pix}}
                                            {{failedossltover75}} students Failed OSSLT but have ENG3U or ENG4U grade over 75%
                                        </li>
                                    {{/failedossltover75icon}}
                                </ul>

                                <li><a href="{{prevosslturl}}">OSSLT Scores for Previous School Year</a></li>
                                <ul class="list-unstyled mb-3">
                                    <li>
                                        {{#pix}} {{prevwroteosslticon}}, local_schoolmanager {{/pix}}
                                        {{prevwroteosslt}} of students wrote the OSSLT
                                    </li>
                                    <li>
                                        {{#pix}} {{prevpassedosslticon}}, local_schoolmanager {{/pix}}
                                        {{prevpassedosslt}} students Passed OSSLT
                                    </li>
                                    <li>
                                        {{#pix}} {{prevfailedosslticon}}, local_schoolmanager {{/pix}}
                                        {{prevfailedosslt}} students Failed OSSLT
                                    </li>
                                    {{#prevfailedossltover75icon}}
                                        <li>
                                            {{#pix}} {{prevfailedossltover75icon}}, local_schoolmanager {{/pix}}
                                            {{prevfailedossltover75}} students Failed OSSLT but have ENG3U or ENG4U grade over 75%
                                        </li>
                                    {{/prevfailedossltover75icon}}
                                </ul>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-success">Other   </h3>
                            <ul class="list-unstyled mb-3">
                                <li><a href="{{usersurl}}">Logins</a></li>
                                <ul class="list-unstyled mb-3">
                                    <li>
                                        {{#pix}} {{loggedusers3icon}}, local_schoolmanager {{/pix}}
                                        {{loggedusers3}} student have logged in with last 3 days
                                    </li>
                                    <li>
                                        {{#pix}} {{loggedusers7icon}}, local_schoolmanager {{/pix}}
                                        {{loggedusers7}} students have logged in within last 7 days
                                    </li>
                                    <li>
                                        {{#pix}} {{notloggedusers8icon}}, local_schoolmanager {{/pix}}
                                        {{notloggedusers8}} students have not logged for more than 8 days
                                    </li>
                                    <li>
                                        {{#pix}} {{notloggedstaff10icon}}, local_schoolmanager {{/pix}}
                                        {{notloggedstaff10}} staff have not logged in for more that 10 days
                                    </li>
                                </ul>

                                <li><a href="{{dmurl}}">Deadline Manager</a></li>
                                <ul class="list-unstyled mb-3">
                                    <li>{{#pix}} {{dmcompleteicon}}, local_schoolmanager {{/pix}}
                                        {{dmcomplete}} active classes have complete Deadline Manager schedules
                                    </li>
                                    <li>
                                        {{#pix}} {{dmincompleteicon}}, local_schoolmanager {{/pix}}
                                        {{dmincomplete}} active classes do not have complete Deadline Manager schedules
                                    </li>
                                    <li>
                                        {{#pix}} {{dmcompleteendedicon}}, local_schoolmanager {{/pix}}
                                        {{dmcompleteended}} classes ended with complete Deadline Manager schedules
                                    </li>
                                    <li>
                                        {{#pix}} {{dmincompleteendedicon}}, local_schoolmanager {{/pix}}
                                        {{dmincompleteended}} classes ended with incomplete Deadline Manager schedules
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {{/viewpscompliancereport}}
    </div>
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-header text-align-center">
                {{#str}}studentsummary, local_schoolmanager{{/str}}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">{{#str}}activestudents, local_schoolmanager{{/str}}</div>
                    <div class="col-md-4">{{activestudents}}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">{{#str}}aivschoolyear, local_schoolmanager{{/str}}</div>
                    <div class="col-md-4">{{aivschoolyear}}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">{{#str}}aiv30schoolyear, local_schoolmanager{{/str}}</div>
                    <div class="col-md-4">{{aiv30schoolyear}}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">{{#str}}deadlineextentions, local_schoolmanager{{/str}}</div>
                    <div class="col-md-4">{{deadlineextensions}}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">{{#str}}aivaverage, local_schoolmanager{{/str}}</div>
                    <div class="col-md-4">{{aivaverage}}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">{{#str}}wrongsubmissions, local_schoolmanager{{/str}}</div>
                    <div class="col-md-4">{{wrong_submissions}}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">{{#str}}latesubmissions, mod_assign{{/str}}</div>
                    <div class="col-md-4">{{late_submissions}}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">{{#str}}misseddeadlines, local_schoolmanager{{/str}}</div>
                    <div class="col-md-4">{{missed_deadlines}}</div>
                </div>

            </div>
        </div>
        <div class="card">
            <div class="card-header text-align-center">
                {{#str}}staffsummary, local_schoolmanager{{/str}}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">{{#str}}classroomteachers, local_schoolmanager{{/str}}</div>
                    <div class="col-md-4">{{classroomteachers}}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">{{#str}}classroomassistants, local_schoolmanager{{/str}}</div>
                    <div class="col-md-4">{{classroomassistants}}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">{{#str}}guidancecounsellors, local_schoolmanager{{/str}}</div>
                    <div class="col-md-4">{{guidancecounsellors}}</div>
                </div>
                <div class="row">
                    <div class="col-md-12"><hr></div>
                </div>
                <div class="row">
                    <div class="col-md-8">{{#str}}generalcert, local_schoolmanager{{/str}}</div>
                    <div class="col-md-4">{{generalcert}}/{{staffs}}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">{{#str}}advancedcert, local_schoolmanager{{/str}}</div>
                    <div class="col-md-4">{{advancedcert}}/{{staffs}}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">{{#str}}certifiedproctors, local_schoolmanager{{/str}}</div>
                    <div class="col-md-4">{{certifiedproctors}}</div>
                </div>
                <div class="row">
                    <div class="col-md-12"><hr></div>
                </div>
                <div class="row">
                    <div class="col-md-8">{{#str}}schooladministrator, local_schoolmanager{{/str}}</div>
                    <div class="col-md-4">{{schooladministrator}}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">{{#str}}proctormanager, local_schoolmanager{{/str}}</div>
                    <div class="col-md-4">{{proctormanager}}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">{{#str}}academicintegritymanager, local_schoolmanager{{/str}}</div>
                    <div class="col-md-4">{{academicintegritymanager}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{{#hasdifferenttimezone}}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="alert alert-danger mt-4 text-align-center">
                {{# str }} differenttimezonewarning, block_ned_teacher_tools {{/ str }}
                {{#synctimezone}}
                    <div>{{# str }} synctimezonewarning, local_schoolmanager {{/ str }}</div>
                {{/synctimezone}}
                {{#isadmin}}
                    <div>
                        <a href="{{edittimezoneurl}}">
                            {{# str }} resettimezoneforall, local_schoolmanager {{/ str }}
                        </a>
                    </div>
                {{/isadmin}}
            </div>
        </div>
    </div>
{{/hasdifferenttimezone}}